# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Python build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/